// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700')
@import url('https://fonts.googleapis.com/css?family=Niramit:300,400,500,600,700')
@import url('https://fonts.googleapis.com/css?family=Merriweather:100,300,400,700,900')


// COLOR VARS
$black: #081b33
$red: #e54a35
$grey-lighter: #F2F2F2

// HTML STYLES
html
    font-family: 'Niramit', 'Helvetica Neue', Arial, sans-serif
    font-size: 16px
    word-spacing: 1px
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    box-sizing: border-box
    background: $grey-lighter

*,
*:before,
*:after
    box-sizing: border-box
    margin: 0

body
    font-weight: 400
    font-style: normal
    font-size: 16px
    line-height: 1.5em
    letter-spacing: .02em
    text-rendering: optimizeLegibility
    color: $black

a
    color: $red
    text-decoration: none
    transition: all .4s ease-out

a:hover
    color: $black

h1, h2, h4
    font-family: "Merriweather", times, serif
    font-weight: 400
    font-size: 32px
    line-height: 1.6em

h3
    font-family: "Niramit", times, serif
    color: $red
    font-weight: 400
    font-size: 14px
    line-height: 1.6em

h4
    font-size: 19px
    font-weight: 300
.hero
    text-align: center
    padding: 3.3vw 8vw
    margin-bottom: 70px

.hero h1
    font-family: "Merriweather", times, serif
    font-weight: 300
    font-size: 4.5vw
    line-height: 1.1em

.hero h4
    font-family: 'Niramit', 'Helvetica Neue', Arial, sans-serif
    color: #e54a35
    margin-bottom: 1rem
    font-size: 13px
    font-weight: 700
    letter-spacing: 2px

.sidebar h2,
.sidebar h3,
.sidebar h4
    margin-bottom: 1.6rem


.site-container
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between

    .main
        flex: 1
        padding-bottom: 130px

.section
    padding-left: 8vw
    padding-right: 8vw
    display: flex
    justify-content: space-between

.content
    width: 100%
    h3
        color: $black
        font-family: "Merriweather", times, serif
        font-size: 40px
        font-weight: 300

.content-left
    flex-basis: 60%
    margin-right: 2rem

.content,
.content-full,
.one-centered-column
    h1, h2, h3, h4, h5, p
        margin-bottom: 2rem
        line-height: 1.6em

.content-full
    h5
        color: $red
        margin-bottom: 1rem
        text-transform: uppercase
        font-size: 15px
        letter-spacing: 1px

.sidebar
    flex-basis: 30%

.row
    display: flex
    flex-basis: 100%
    margin: auto
    justify-content: space-between
    margin-bottom: 20px
    >*
        width: 100%

.column-1-2,
.column-1-3,
.column-2-3,
.column-2-4,
.column-3-4
    flex-basis: 50%
    margin: 0 20px
    &:first-child
        margin-left: 0
    &:last-child
        margin-right: 0

.column-1-3
    flex-basis: 33%

.column-2-3
    flex-basis: 66%

.column-1-4
    flex-basis: 25%

.column-3-4
    flex-basis: 75%

.button
    display: inline-block
    background: $black
    color: white
    padding: 21px 34px
    text-transform: uppercase
    font-family: 'Barlow Condensed', 'Helvetica Neue', Arial, sans-serif
    font-size: 17px
    font-weight: 500
    letter-spacing: 2px
    border: 2px solid $black
    &:hover,
    &.button-outline
        color: $black
        background: transparent
    &.button-outline:hover
        color: white
        background: $black

.img-responsive
    max-width: 100%

.mt-2
    margin-top: 2rem

.mb-6
    margin-bottom: 6vw

.text-center
    text-align: center

.border-top
    border-top: 1px solid rgb(196, 196, 196)

.border-bottom
    border-bottom: 1px solid rgb(196, 196, 196)

.content-full
    width: 100%

.column-3
    display: flex

    .column
        border-top: 1px solid transparentize($black, .7)
        flex: 1
        padding: 2rem 0 0 0
        margin: 0 1rem
        margin-top: 2rem

    .column:first-child
        margin-left: 0

    .column:last-child
        margin-right: 0

.one-centered-column
    max-width: 55vw
    margin: auto

.hero-second-level
    background-size: cover
    background-position: center
    text-align: center
    padding: 6vw 8vw
    margin-bottom: 70px

.hero-second-level h1
    font-family: "Merriweather", times, serif
    font-weight: 300
    font-size: 4.5vw
    line-height: 1.1em

.hero-second-level h4
    font-family: 'Niramit', 'Helvetica Neue', Arial, sans-serif
    color: #e54a35
    margin-bottom: 1rem
    font-size: 13px
    font-weight: 700
    letter-spacing: 2px

.media
    border-bottom: 1px solid rgb(196, 196, 196)
    padding: 20px 0

.media:last-child
    border-bottom: none

.media h5
    font-family: "Merriweather", times, serif
    font-weight: 300
    font-size: 20px
    line-height: 1.1em
    margin-bottom: 1em

.media h6
    font-family: 'Niramit', 'Helvetica Neue', Arial, sans-serif
    color: #e54a35
    margin-bottom: 1rem
    font-size: 13px
    font-weight: 700
    letter-spacing: 1px

.media p
    font-size: 14px
    margin-bottom: 1.5em

.details ul
    padding-left: 1.5em
  
.details li,
.details p
    font-size: 13px

.page-enter-active, .page-leave-active
    transition: opacity .5s

.page-enter, .page-leave-to
    opacity: 0