// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700')
@import url('https://fonts.googleapis.com/css?family=Niramit:300,400,500,600,700')
@import url('https://fonts.googleapis.com/css?family=Merriweather:100,300,400,700,900')


// COLOR VARS
$black: #081b33
$red: #e54a35
$grey-lighter: rgb(242, 242, 242)

// HTML STYLES
html
    font-family: 'Niramit', 'Helvetica Neue', Arial, sans-serif
    font-size: 16px
    word-spacing: 1px
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    box-sizing: border-box
    background: linear-gradient(white, $grey-lighter),

*,
*:before,
*:after
    box-sizing: border-box
    margin: 0

body
    font-weight: 400
    font-style: normal
    font-size: 16px
    line-height: 1.5em
    letter-spacing: .02em
    text-rendering: optimizeLegibility
    color: $black

a
    color: $red
    text-decoration: none
    transition: all .4s ease-out

a:hover
    color: $black

h1, h2, h4
    font-family: "Merriweather", times, serif
    font-weight: 400
    font-size: 32px
    line-height: 1.6em

h3
    font-family: "Niramit", times, serif
    color: $red
    font-weight: 400
    font-size: 14px
    line-height: 1.6em

h4
    font-size: 19px
    font-weight: 300


.section
    padding-left: 8vw
    padding-right: 8vw
    display: flex
    justify-content: space-between

.content,
    flex-basis: 60%
    margin-right: 2rem

    h1, h2, h3, h4, h5, p
        margin-bottom: 2rem
        line-height: 1.6em

.content-full
    h5
        color: $red
        margin-bottom: 1rem
        text-transform: uppercase
        font-size: 15px
        letter-spacing: 1px

.sidebar
    flex-basis: 30%

.button
    display: inline-block
    background: $black
    color: white
    padding: 21px 34px
    text-transform: uppercase
    font-family: 'Barlow Condensed', 'Helvetica Neue', Arial, sans-serif
    font-size: 17px
    font-weight: 500
    letter-spacing: 2px
    border: 2px solid $black
    &:hover,
    &.button-outline
        color: $black
        background: transparent
    &.button-outline:hover
        color: white
        background: $black

.mb-6
    margin-bottom: 6vw

.text-center
    text-align: center

.content-full
    width: 100%

.column-3
    display: flex

    .column
        border-top: 1px solid transparentize($black, .7)
        flex: 1
        padding: 2rem 0 0 0
        margin: 0 1rem
        margin-top: 2rem

    .column:first-child
        margin-left: 0

    .column:last-child
        margin-right: 0

.one-centered-column
    max-width: 55vw
    margin: auto