@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Niramit:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:100,300,400,700,900");
html {
  font-family: 'Niramit', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #F2F2F2; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

body {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: .02em;
  text-rendering: optimizeLegibility;
  color: #081b33; }

a {
  color: #e54a35;
  text-decoration: none;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out; }

a:hover {
  color: #081b33; }

h1, h2, h4 {
  font-family: "Merriweather", times, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.6em; }

h3 {
  font-family: "Niramit", times, serif;
  color: #e54a35;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6em; }

h4 {
  font-size: 19px;
  font-weight: 300; }

.hero {
  text-align: center;
  padding: 3.3vw 8vw;
  margin-bottom: 70px; }

.hero h1 {
  font-family: "Merriweather", times, serif;
  font-weight: 300;
  font-size: 4.5vw;
  line-height: 1.1em; }

.hero h4 {
  font-family: 'Niramit', 'Helvetica Neue', Arial, sans-serif;
  color: #e54a35;
  margin-bottom: 1rem;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px; }

.sidebar h2,
.sidebar h3,
.sidebar h4 {
  margin-bottom: 1.6rem; }

.site-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .site-container .main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-bottom: 130px; }

.section {
  padding-left: 8vw;
  padding-right: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.content {
  width: 100%; }
  .content h3 {
    color: #081b33;
    font-family: "Merriweather", times, serif;
    font-size: 40px;
    font-weight: 300; }

.content-left {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  margin-right: 2rem; }

.content h1, .content h2, .content h3, .content h4, .content h5, .content p,
.content-full h1,
.content-full h2,
.content-full h3,
.content-full h4,
.content-full h5,
.content-full p,
.one-centered-column h1,
.one-centered-column h2,
.one-centered-column h3,
.one-centered-column h4,
.one-centered-column h5,
.one-centered-column p {
  margin-bottom: 2rem;
  line-height: 1.6em; }

.content-full h5 {
  color: #e54a35;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px; }

.sidebar {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px; }
  .row > * {
    width: 100%; }

.column-1-2,
.column-1-3,
.column-2-3,
.column-2-4,
.column-3-4 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin: 0 20px; }
  .column-1-2:first-child,
  .column-1-3:first-child,
  .column-2-3:first-child,
  .column-2-4:first-child,
  .column-3-4:first-child {
    margin-left: 0; }
  .column-1-2:last-child,
  .column-1-3:last-child,
  .column-2-3:last-child,
  .column-2-4:last-child,
  .column-3-4:last-child {
    margin-right: 0; }

.column-1-3 {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%; }

.column-2-3 {
  -ms-flex-preferred-size: 66%;
  flex-basis: 66%; }

.column-1-4 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%; }

.column-3-4 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%; }

.button {
  display: inline-block;
  background: #081b33;
  color: white;
  padding: 21px 34px;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', 'Helvetica Neue', Arial, sans-serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  border: 2px solid #081b33; }
  .button:hover, .button.button-outline {
    color: #081b33;
    background: transparent; }
  .button.button-outline:hover {
    color: white;
    background: #081b33; }

.img-responsive {
  max-width: 100%; }

.mb-6 {
  margin-bottom: 6vw; }

.text-center {
  text-align: center; }

.border-top {
  border-top: 1px solid #c4c4c4; }

.border-bottom {
  border-bottom: 1px solid #c4c4c4; }

.content-full {
  width: 100%; }

.column-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .column-3 .column {
    border-top: 1px solid rgba(8, 27, 51, 0.3);
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 2rem 0 0 0;
    margin: 0 1rem;
    margin-top: 2rem; }
  .column-3 .column:first-child {
    margin-left: 0; }
  .column-3 .column:last-child {
    margin-right: 0; }

.one-centered-column {
  max-width: 55vw;
  margin: auto; }

.hero-second-level {
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 6vw 8vw;
  margin-bottom: 70px; }

.hero-second-level h1 {
  font-family: "Merriweather", times, serif;
  font-weight: 300;
  font-size: 4.5vw;
  line-height: 1.1em; }

.hero-second-level h4 {
  font-family: 'Niramit', 'Helvetica Neue', Arial, sans-serif;
  color: #e54a35;
  margin-bottom: 1rem;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px; }

.media {
  border-bottom: 1px solid #c4c4c4;
  padding: 20px 0; }

.media:last-child {
  border-bottom: none; }

.media h5 {
  font-family: "Merriweather", times, serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.1em;
  margin-bottom: 1em; }

.media h6 {
  font-family: 'Niramit', 'Helvetica Neue', Arial, sans-serif;
  color: #e54a35;
  margin-bottom: 1rem;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px; }

.media p {
  font-size: 14px;
  margin-bottom: 1.5em; }

.details ul {
  padding-left: 1.5em; }

.details li,
.details p {
  font-size: 13px; }
